# Variables d'environnement pour Navipad
# Copier ce fichier en .env et remplir les valeurs

# URL de base de l'API backend
EXPO_PUBLIC_API_BASE_URL=https://navipad-superbase.vercel.app

# Clé API Backend
EXPO_PUBLIC_API_KEY=88abf96eead6f01f632b98a6315f64a8c09d084b1ba43917ca1d4591581cd95d

# Clé API Google Maps
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Clé API Cloud Text-to-Speech (séparée de Maps pour la sécurité)
EXPO_PUBLIC_GOOGLE_TTS_API_KEY=your_google_tts_api_key_here
